
p {
    font-family: 'Lobster Two', cursive;
    color: $violeta;
}
h1 {
    font-family: 'Lobster', cursive;
    color: $violeta;
}
h2 , h3 {
    font-family: 'Lobster', cursive;
    color: $violeta;
}
footer {
    background-image: linear-gradient(to top, $violeta , $amarillo);
}
.fondo-primario {
    background-color: $lila;
}
