.contactos__fondo{
    background-image: linear-gradient(to bottom, $lila, $violeta, $amarillo)
}
.contacto__First {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 300px;
    .contactos__container{
        margin-top: 4rem;
        .contactos__info{
            background-color: $lila;
            padding: 1rem;
            border: 3px dotted $violeta;
            text-align: center;
            legend{
                font-family: 'Lobster', cursive;
                color: $violeta;
            }
            .contactos__numero{
                p{
                    a{
                        color: $amarillo;
                    }
                }
            }
            .contactos__consultas{
                .contactos__nombre{
                    input{
                        background-color: $amarillo;
                        padding: 3px;
                        &:focus{
                            outline: none;
                            border: 2px solid $violeta;
                        }
                    }
                }
                
                .contactos__input{
                    .contactos__email{
                        input{
                            background-color: $amarillo;
                            padding: 3px;
                            margin: 15px;
                            border-style: none;
                            &:focus{
                                outline: none;
                                border: 2px solid $violeta;
                            }
                            
                        
                        }
                    }
                    .contactos__texto{
                        textarea{
                            background-color: $amarillo;
                            padding: 3px;
                            &:focus{
                                outline: none;
                                border: 2px solid $violeta;
                            }
                        }
                    }
                    .contactos__boton{
                        text-align: end;
                        margin-top: 5px;
                        input{
                            @include boton($violeta, $amarillo, 1rem);
                        }
                    }
                }

                }
            }
        }
    }

.contactos__img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-items: end;
    .img__contac{
        &--uno{
            animation-name: derecha;
            animation-duration: 2s;
            animation-direction: reverse;
            animation-timing-function: ease;
            grid-column: 1/2;
            grid-row:1/2;
        }
        &--dos{
            animation-name: izquierda;
            animation-duration: 2s;
            animation-direction: reverse;
            animation-timing-function: linear;
            grid-column: 2/3;
            grid-row: 2/3;
        }
        &--tres{
            grid-column: 1/2;
            grid-row: 3/4;
            animation-name: derecha;
            animation-duration: 2s;
            animation-direction: reverse;
        
        }
    }

}
.img__Contacto {
    border: 2px dotted $amarillo;
    width: 25rem;
    height: 15rem;
}

@keyframes derecha {
    0%{ transform: translate(0px);
    }
    50%{ transform: translate(200px)}
    
    100%{transform: translate(300px); }
}
@keyframes izquierda {
    0%{ transform: translate(-0px);}
    50%{ transform: translate(-200px);
    padding: 3rem;}
    100%{transform: translate(-300px); }
}