@media (max-width: $mediaEstandar ) {
    .menu__estilo{
        .menu__links{
            gap: 1rem;
            .nav__item{
                &:hover{
                    .menu__navLinks{
                        color: #6f42c2ee;
                        background-color: transparent;
                        border: none;
                    }
                }
            }
        }
        
    }

    .conteiner__homeInfo {
        display: none;
    }
    .container__uno {
        h1 {
            background-color: $violeta;
            color: $amarillo;
            width: auto;
            text-align: center;
        }
    }
    .info__Nosotros {
        display: block;
    }
    .container__dos>* {
        flex-grow: 1;
    }
    .container__dos {
        flex-direction: column;
    }

    .cartita{
        background-image: linear-gradient(to top, $lila, $amarillo);
        .cartita__Info{
            .info__cartitas{
                display: none;
            }
            .accordion__cajitas{
                display: block;
            }
        }
    }

    .imgServicios {
        display: none;
    }

    .turnos__ContenedorF {
        flex-wrap: wrap;
    }

    .contactos__img {
        display: none;
    }
    
    .contacto__First{
        .contactos__container {
        margin: 10px;
        opacity: 1;
        transform: none;
        }
    }
    .valoracion__contenedor{
        .valoracion__info{
            text-align: center;
            h1{
                margin-left: 1rem;
                text-align: start;
            }
        }
    }
}