.color__fondo {
    background-color: $violeta;
}

.menu__estilo {
    justify-content: center;
    padding: 1rem;
    .menu__links {
        gap: 5rem;
        .nav__item{
            .activo{
                color: $lila;
            }
        }
        li {
            color: $amarillo;
            justify-content: center;
            a {
                color: $amarillo;
                background-color: $violeta;
                font-family: 'Lobster', cursive;
                text-align: center;
                display: inline;
            }
        }
    }
}


.nav__item:hover  {
    transition: .5s;
    .menu__navLinks{
    color: $violeta;
    background-color: $amarillo;
    border: 1px solid $fondo;
    border-radius: 4px;
    display: inline;
    }
}